.questions
	&-block
		display: flex
		justify-content: center
		align-items: center
		flex-wrap: wrap
	&__title
		font-size: 30px
		padding-right: 50px
		+bold
	&-link
		font-size: 24px
		color: #5a8de2
