.armchair
	background: $live-color url('../images/armchair.jpg') center no-repeat
	background-size: cover
	max-height: 604px
	&__description
		padding-top: 150px
		padding-bottom: 150px
		color: #fff
		&-title
			margin-bottom: 50px
			font-weight: 500
			font-size: 48px
		&-subtitle
			margin: 0
			margin-bottom: 60px
			line-height: 1.7