.brands
	&__block
		display: flex
		justify-content: space-between
		align-items: center
		flex-wrap: wrap
		background-color: #fff
		padding: 35px 35px
		text-align: center
		&-items
			flex-basis: 23%
			margin-bottom: 20px
			margin-left: 10px
			margin-right: 10px
			padding: 30px
			&:hover
				background-color: $live-color
				color: #fff 
			&:nth-child(9)
				margin-bottom: 0
			&:nth-child(10)
				margin-bottom: 0
			&:nth-child(11)
				margin-bottom: 0	
			&:last-child
				margin-bottom: 0
