.footer
	padding: 25px 0
	&__block
		display: flex
		justify-content: space-between
		align-items: center
		&-copy
			&_link
				color: #828282
				text-decoration: none
		&-politicks
			&_link
				color: #828282
				text-decoration: none
